

<div *ngIf="isLoading; else paymentListContainer">
    <div class="text-center">
        <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
</div>

<ng-template #paymentListContainer>

<div *ngIf="isCustomerOwing; else paymentsTable">
 
    <div class="card">
      <div class="card-header">
        <span style="margin-right: 30%; font-weight: bold;"> payments</span>
      </div>

      <div class="card-body">

          <div class="accordion-body">

              <div class="card">
                  <div class="card-header" style="color: red;">
                    Reminder!!
                  </div>
                  <div class="card-body">
                    <p class="card-text" style="color: red;">Please note that <b>{{ customer.names }}</b> still has outstanding payments to be made, try contacting or informing them as a reminder about their payments. </p>

                   
                      <button
                       class="btn site-background-color2 site-secondary-color" (click)="continueToPaymentsList()"
                        >Continue <i class="fa fa-arrow-circle-right" ></i>
                      </button>
           

                  </div>
                </div>
          </div>
     
  
      </div>
    </div>

</div >



  <ng-template #paymentsTable>
  <div id="accordionExample box-container">

      <div class="card">
        <div class="card-header">
          <span style="margin-right: 35%; font-weight: bold;">{{  customer.names }}'s payments</span>

              <!-- Button trigger modal -->
          <button *ngIf="canMakePayment"
           type="button" class="btn btn-sm site-background-color site-secondary-color" 
           data-bs-toggle="modal" data-bs-target="#staticBackdrop">Balance Payment
          </button>
        </div>
        <div class="card-body">
          <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">     
            <table class="table caption-top table-sm table-bordered">
                <thead class="table table-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">AmountPaid</th>
                    <th scope="col">balance</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let payment of customer.payments; let i = index">
                    <th scope="row">{{ i + 1}}</th>
                    <td> {{ payment.date | date:'medium' }}</td>
                    <td> {{ payment.amountPaid | currency:'USD' }}</td>
                    <td> {{ payment.balanceOfPayment  | currency:'USD' }}</td>
                    <td> {{ payment.totalPayment | currency:'USD' }}</td>
                  </tr>
                </tbody>
              </table>
            </cdk-virtual-scroll-viewport>

        </div>

      </div>

   </div>
  </ng-template>
  <!-- payment-modal -->
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">New Payment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-new-payment [payments]="customer.payments" (payment)="setPayment($event)"></app-new-payment>
        </div>
        <div class="modal-footer">
          <button (click)="updatePayment()"  [disabled]="!onAmountPaidValueCheck" 
          type="button" style="width: 80px;" class="btn site-background-color site-secondary-color"  data-bs-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>
  <!-- payment-modal -->
</ng-template>



