

<table class="table">
    <thead class="filterSelection">
        <tr>
          <th scope="col">
            <i class="fa fa-filter"></i>
            <select
             class="form-control-sm" aria-label="select example" 
            [(ngModel)]="selectFilterBy"
             (click)="updateSearchPlaceholder()">
                <option selected disabled >Search By</option>
                <option value="names">Name</option>
                <option value="address">Adress</option>
                <option value="phone">Phone</option>
              </select>
          </th>
          <th scope="col">
          <input class="form-control form-control-sm" type="text" [placeholder]="searchFieldPlaceHolder" [(ngModel)]="searchTerm">
          </th>
          <th *ngIf="!isAdmin" scope="col"><a type="button" class="btn btn-success btn-sm" [routerLink]="['../customers/create-customer']" > <i class="fa fa-user-plus"></i> Add Customer</a></th>
          <th scope="col"> </th>
        </tr>
      </thead>
      
  </table>
  
  <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <table class="table caption-top" >
      <caption>Customers</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Names</th>
          <th scope="col">Phone</th>
          <th scope="col">Gender</th>
          <th scope="col">Address</th>
        </tr>
      </thead>
      
       <tbody *ngIf="isLoading">
        <app-loading></app-loading>
       </tbody>

      <tbody
      *ngFor="let customer of customers | filterCustomer:searchTerm:selectFilterBy; let i = index;">
        <tr>
          <th scope="row"> {{ i + 1 }} </th>
          <td> {{ customer.names }} </td>
          <td> {{ customer.phone }} </td>
          <td> {{ customer.gender | lowercase }} </td>
          <td> {{ customer.address }} </td>
          <td> 
            <button type="button" class="btn btn-success btn-sm" style="margin-right: 5px;" [routerLink]="['../customers/customer', customer.id]"> 
              <i class="fa fa-address-card"></i> 
              Manage
            </button>
              <button type="button" class="btn btn-danger btn-sm"  *ngIf="isAdmin"><i class="fa fa-trash-o"></i> delete</button>
        </td>       
        </tr>
      </tbody>
    </table>
  </cdk-virtual-scroll-viewport>
 
