<div class="login-cover">
  <div class="card">
    <div class="card-body">

      <div class="cards-group-container" *ngIf="!isRegisterUser; else registerPage">
        <div class="card no-border card-register">
          <img src="assets/img/cloth-icon.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h2 class="card-title">Welcome</h2>
            <p class="card-title bottom-spacer" style="font-size: 20px;">Register a free laundry records account here.
               <small>Already have an account ? login over there <i class="fa fa-hand-o-right"></i>
              </small>
            </p>
             
            <p class="card-text bottom-spacer">

              Laundry records system is a laundry database management software that makes it easy for a dry cleaning service to monitor their attendants and customers activities,
              it was highly designed for keeping track of customers and thier cloths information such as when a customer was registered, their orders, how much was paid and to which cloth (s)
               was paid for. 
               With laundry records system it is easy to record your laundry transactions instead of putting notes or records on books, as the business owner or (Administrator) you can access every activities of your busniness
               the system aslo features a debt reminder system that reminds you of a customer's debt if that particular is owing or having any pending balance to be made,
               it improves and establishes an excellent connection with potential customers.
               customers datas are safe and stored for as long as eternity.
              </p>
              <div class="col-12">
                <button (click)="navigateToRegisterPage()"
                class="site-primary-button2 bottom-spacer" type="submit">Register</button>
              </div>

          </div>
          <div class="card-footer">
            <!-- <small class="text-muted">Last updated today jan 23</small> -->
          </div>

        </div>


        <div class="card left-spacer site-color-navy" 
        style="width: 30%;">
          <div class="card-body">
            <div class="login-container">
              <div class="card card-login">
                <div class="card-body">

                  <div class="row row-cols-lg-auto g-3 align-items-center bottom-spacer" style="display: flex; justify-content: flex-end;">
                    <label class="visually" for="inlineFormSelectPref">Login As: </label>
                    <div class="col-12">
                      <select [(ngModel)]="loginType" name="loginType" (change)="onLoginTypeChange()"
                        class="form-select" id="inlineFormSelectPref">
                        <option *ngFor="let loginType of arrayOfLoginTypes"
                         [ngValue]="loginType">{{ loginType }}</option>
                      </select>
                    </div>
                  </div>

                <br>

                <div>
                  <form class="row g-3 " [formGroup]="loginForm" (ngSubmit)="validateLogin()">
                    <h3 class="card-title">{{ isAdmin ? 'Enter administrator info': 'Enter attendant info'}}</h3>
                    <div class="mb-3">
                      <label for="validationServer01" class="form-label">Email</label>
                      <input type="text" class="form-control" id="validationServer01" formControlName='email'>
                    </div>

                    <div class="mb-3">
                      <label for="validationServer02" class="form-label">Password</label>
                      <input type="password" class="form-control" id="validationServer02" formControlName='password'>      
                    </div>

                    <div class="mb-3" *ngIf="!isAdmin">
                      <label for="validationServer02" class="form-label">Reference Number</label>
                      <input type="text" class="form-control" id="validationServer02" formControlName='administratorID'>      
                    </div>

                    <p #serverValidationFeedback id="serverValidationFeedback" style="color: red !important;">
                      
                      {{ isAdmin ? 'Incorrect email or password.': 'Incorrect email, password or referenceID'}}
                    </p>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input checkbox" type="checkbox" id="inlineFormCheck">
                        <label class="form-check-label" for="inlineFormCheck">
                          Remember me
                        </label>
                        <!-- <span> <a href="javascript:void()">forget password?</a> </span> -->
                      </div>
                    </div>

                    <div class="col-12">      
                      <button [disabled]="loginForm.invalid" class="site-primary-button2" type="submit">
                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                       <span> {{ isLoading ? 'Processing' : 'Login'}}</span>
                        </button>
                         
                    </div>
                  </form>
                </div>
                  
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer">
            <small>having problems tyring to login as attendant? contact your employer asap!</small>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<ng-template #registerPage>
  <app-user-register [userRole]="userRole" (backToLoginScreen)="navigateBackToLoginPage($event)"></app-user-register>
</ng-template>
