<div class="card">
    <div class="card-body">

      <div *ngIf="isLoading; else paymentScreen">
        <div class="text-center">
            <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
      </div>

      <ng-template #paymentScreen>
        <form #paymentForm="ngForm" class="row g-3" >

            <div class="col-md-6">
              <label for="inputEmail4" class="form-label">New Amount</label>
              <input [(ngModel)]="newPayment.amountPaid" name="amountPaid" 
              required  (ngModelChange)="onBalanceOfPaymentChange()"
               type="text" class="form-control" [class.is-invalid]="paymentError.isAmountExceed" id="inputEmail4" placeholder="N 0.00">
               <div
               id="validationServer05Feedback" class="invalid-feedback">{{ paymentError.errorMassage }}</div>
            </div>
            <div class="col-md-6">
              <label for="inputPassword4" class="form-label">BalanceOfPayment</label>
               
              <div class="input-group mb-3">
                <span class="input-group-text">
                   <img src="assets/img/bank-currency-nigerian-naira.png"  alt="...">
                </span>
                <input  [(ngModel)]="newPayment.balanceOfPayment" name="balanceOfPayment" 
                required disabled 
                type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
              </div>

            </div>
            <div class="col-12">
              <label for="inputAddress" class="form-label">Date</label>
              <input [(ngModel)]="newPayment.date" name="date" disabled
              type="text" class="form-control" id="inputAddress">
            </div>
            <div class="col-md-6">
              <label for="inputCity" class="form-label">TotalPayment</label>

               <div class="input-group mb-3">
                <span class="input-group-text">
                  <img src="assets/img/bank-currency-nigerian-naira.png"  alt="...">
                </span>
                <input [(ngModel)]="newPayment.totalPayment" name="totalPayment" required disabled
                type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <span class="input-group-text">.00</span>
              </div>

            </div>
       
          </form>
        </ng-template>
    </div>
  </div>