<div class="card" style="width: 18rem;">
    <div class="card-body body-container">
      <h5 class="card-title">Welcome !</h5>
   <br>

      <form class="row g-3">
     
        <div class="col-12">
          <label for="inputAddress" class="form-label">Enter Attendant Code: </label>
          <input type="text" class="form-control imput-height input-margin" id="inputAddress" placeholder="Eg. 00103A00">
        </div>
        
        <div class="col-12">
          <button type="submit" class="btn btn-primary input-margin">Sign in</button>
        </div>
      </form>

    </div>
  </div>
