<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="assets/img/logo.jpg" class="img-fluid" alt="...">
            <div class="card-body">
                    <div class="card-header">
                      <h3>Administrator Panel</h3>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <small>Names</small> <br>
                          <b> <small>{{ currentUser.names }}</small> </b>
                      </li>
                      <li class="list-group-item">
                        <small>Gender</small> <br>
                        <b> <small>{{ currentUser.gender }}</small> </b>
                    </li>
                    <li class="list-group-item">
                        <small>Age</small> <br>
                        <b> <small>{{ currentUser.age }}</small> </b>
                    </li>
                    <li class="list-group-item">
                        <small>Phone</small> <br>
                        <b> <small>{{ currentUser.phone }}</small> </b>
                    </li>
                    <li class="list-group-item">
                        <small>Address</small> <br>
                        <b> <small>{{ currentUser.address }}</small> </b>
                    </li>
                    <li class="list-group-item">
                        <small>Company Name</small> <br>
                        <b> <small>{{ currentUser.companyName }}</small> </b>
                    </li>
                    <li class="list-group-item">
                        <small>Your Role</small> <br>
                        <b> <small>{{ currentUser.userRole }}</small> </b>
                    </li>
                    <li class="list-group-item">
                        <small>Registration Date</small> <br>
                        <b> <small>{{ currentUser.dateRegistered }}</small> </b>
                    </li>
                    </ul>
            </div>
          </div>
      </div>
      <div class="col-sm-9">
        <div class="card" style="width: 90%; margin-left: 10px;">
            <div class="card-body">
                <app-status-cards></app-status-cards> 
            </div>
          </div>

          <div *ngIf="!isRegisterUser; else registerPage" class="card" style="width: 90%; margin: 10px 0px 0px 10px;">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active"
                       id="attendant-tab" 
                      data-bs-toggle="tab"
                       data-bs-target="#attendant"
                        type="button" role="tab"
                         aria-controls="attendant"
                          aria-selected="true">Attendants</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button  [routerLink]="['./customers']"
                      class="nav-link"
                       id="customers-tab"
                        data-bs-toggle="tab" 
                        data-bs-target="#customers"
                         type="button" role="tab"
                          aria-controls="customers"
                           aria-selected="false">Customers</button>
                    </li>
                    <li class="AddNewAttendantBtn" > 
                        <a (click)="navigateToRegisterPage()"
                        type="button"
                         class="btn btn-success btn-sm"> <i class="fa fa-user-plus"></i> Add Attendant</a>
                      </li>

                  </ul>
                  <div class="tab-content" id="myTabContent">         
                 <br>
                    <div class="tab-pane fade show active" id="attendant" role="tabpanel" aria-labelledby="attendant-tab">
                   
                        <div class="row">
                            <div class="col-4">             
                                    <div class="list-group">
                                       
                                        <div class="card-header">
                                            <h3>Attendants</h3>
                                          </div>
                                      <div
                                       *ngFor="let attendant of attendants; let i = index;"
                                       style="margin-bottom: 1rem;"
                                        >
                                        <button 
                                        (click)="setCurrentAttendant(attendant)"
                                         class="list-group-item list-group-item-action list-group-item-light">
                                          <div class="d-flex w-100 justify-content-between attendant-list-stripe">
                                            <b> <code>{{i + 1}}</code>. <small> {{ attendant.names }}</small> </b>
                                            <small class="text-active">Active</small>
                                            <small class="text-muted">3 days ago</small>
                                          </div>
                                      </button>

                                      </div>

                                    </div>
                            </div>
                            <div class="col-8" *ngIf="isAttendantScreenReady; else isLoading">
                              <app-profile [currentAttendant]="currentAttendant"></app-profile>

                              <div class="list-group-item list-group-btns">
                                <button class="btn btn-light action-btns"
                                style="color: rgb(199, 34, 34);"
                                 type="button">
                                 <i class="fa fa-trash-o"> </i>
                                 Delete
                                </button>

                                <button class="btn btn-light action-btns"
                                style="color: rgb(19, 79, 208);"
                                 type="button">
                                 <i class="fa fa-sign-out icons">
                                 </i>Edit</button>
                                </div>

                            </div>
                          </div>
                    
                    </div>

                    <div class="tab-pane fade" id="customers" role="tabpanel" aria-labelledby="customers-tab">
                        <div>
                            <router-outlet></router-outlet>
                        </div>
                    </div>

                  </div>
            </div>
          </div>
    
      </div>
    </div>
  </div>

  <ng-template #registerPage>
    <app-user-register [userRole]="userRole" (backToLoginScreen)="navigateBackToAdminPanel($event)"></app-user-register>
  </ng-template>

  <ng-template #isLoading>
    <app-loading></app-loading>
  </ng-template>
  