.AddNewAttendantBtn{
    width: 70%;
    padding: 0;
    display: flex;
    justify-content: right;
}

ul{
    padding-bottom: 1rem;
}

a{
    text-decoration: none;
}

.attendant-list-stripe{
    color:blue
}

.text-active{
  color: green
}

.action-btns{
    width: 6rem;
    margin:  0 0 0 10px;
}

.list-group-btns{
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
}
