*{
    font-weight: bold;
}

p > span {
    color: var(--color-green);
}
.right-spacer{
    margin-right: 35%;
}

.card-margin-bottom{
    margin-bottom: 10px;
}

.box-container{
    width: 48%;
    float: left;
    margin-left: 0px;
    margin-right: 7px;
}
.details{
    color: var(--color-white);
    font-weight: bold;
    font-size: small;
}


.accordion-body.details,span{
    margin-right: 10px;
}


