<div class="card card-margin-bottom">
    <div class="card-header site-background-color site-secondary-color">
        Customer Record
      </div>
  </div>


  <div class="card card-margin-bottom">
    <div class="card-header site-background-color2 site-secondary-color">
     
      <span style="margin-right: 85%;"> Customer details</span>
      <a (click)="cancelButton()"
       type="button" class="btn btn-danger btn-sm"> <i class="fa fa-times"></i></a>
    </div>
    <div class="card-body">
  

      <div class="box-container">
        <div class="card">
          <div class="card-header">
            <span style="font-weight: bold;">   Names / Address</span>
          </div>
          <div class="card-body">
            
     
                <div>
                  <div class="accordion-body">
                    <p class="details"><span>Names:</span> <b style="color: #000;">{{ customer.names }}</b></p>
                    <p class="details"><span>Phone:</span> <b style="color: #000;"> {{ customer.phone }}</b></p>
                    <p class="details"><span>Address:</span> <b style="color: #000;">{{ customer.address }}</b></p>
                    <p class="details"><span>Gender:</span> <b style="color: #000;">{{ customer.gender }}</b></p>
                    <p class="details"><span>Registered Date:</span> <b style="color: #000;">{{ customer.dateRegistered }}</b></p>
                  </div>
                </div>
       
         

      
          </div>
        </div>
      </div>

     <app-payment-list [customer]="customer" [customerId]="customerId"></app-payment-list>
  
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <span style="margin-right: 70%; font-weight: bold;">{{  customer.names }}'s cloths</span>
      <a type="button" class="btn btn-success btn-sm"> <i class="far fa fa-plus-square"></i> Add Cloth</a>
    </div>
      <app-cloths-list [customer]="customerCloths"></app-cloths-list>
  </div>