<div class="card card-margin-bottom">
    <div class="card-header site-color-navy">
        Customer Record
      </div>
  </div>



  <div class="card card-margin-bottom">
    <div class="card-header site-color-navy">
     
      <span style="margin-right: 80%;"> Customer details</span>
      <a (click)="cancelButton()"
       type="button" class="btn btn-sm cancel-btn"> <i class="fa fa-times"></i></a>
    </div>
    <div class="card-body">
  

      <div class="box-container">
        <div class="card site-color-navy">
          <div class="card-header">
            <span>Names / Address</span>
          </div>
          <div class="card-body">  
            
                <div>
                  <div class="accordion-body site-color-navy">
                    <p><span>Names:</span>{{ customer.names }}</p>
                    <p><span>Phone:</span> {{ customer.phone }}</p>
                    <p><span>Address:</span>{{ customer.address }}</p>
                    <p><span>Gender:</span>{{ customer.gender }}</p>
                    <p><span>Registered Date:</span>{{ customer.dateRegistered }}</p>
                  </div>
                </div>

          </div>
        </div>
      </div>
     <customer-payment-list></customer-payment-list>
  </div>
  </div>

    <div >
      <app-cloths-list></app-cloths-list>
  </div>


 