
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="">
      <img src="assets/img/logo.jpg" class="avater" alt="user avater">
      {{ user.names }} ({{ user.userRole }}) Your ReferenceID is:<b> {{ adminId }}</b>
    </a>
    <form class="d-flex">
      <button 
      class="btn btn-light"
       style="color: rgb(199, 34, 34);"
        (click)="logOutUser()" type="button">
        <i class="fa fa-sign-out icons">
        </i>Log Out</button>

    </form>
  </div>
</nav>