<!-- <ng-template> -->

  <div class="card mb-3 profile" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/profile-image.jpg" class="img-fluid rounded-start profile-pic" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title"> {{ currentAttendant.names | uppercase }}</h3>
          <p *ngIf="isUserAdministrator" class="card-text"><code class="text-muted"><b>ID</b>: {{ currentAttendant.id }}</code></p>
          <p class="card-text"><code class="text-muted"><b>Age</b>: {{ currentAttendant.age }}</code></p>
          <p class="card-text"><code class="text-muted"><b>Gender</b>: {{ currentAttendant.gender }}</code></p>
          <p class="card-text"><code class="text-muted"><b>Phone</b>: {{ currentAttendant.phone }}</code></p>
          <p class="card-text"><code class="text-muted"><b>Address</b>: {{ currentAttendant.address }}</code></p>
          <p class="card-text"><code class="text-muted"><b>DateRegistered</b>: {{ currentAttendant.dateRegistered | date }}</code></p>
  
          <ng-container *ngIf="isUserAdministrator">
            <hr>
            <h3>Accounts</h3>
            <p class="card-text"><code class="text-muted">Email: {{ currentAttendant.userAccount.email }}</code></p>
            <p class="card-text"><code class="text-muted">Password: {{ currentAttendant.userAccount.password }}</code></p>
          </ng-container>
  
        </div>
      </div>

    </div>
  </div>


  
