.profile{
    padding: 10px;
    background-color: var(--background-color-primary);
}
.profile-pic{
  border-radius: 6rem;
  width: 6rem;
  height: 6rem;
  padding: 4px;
  background-color: var(--background-color-black);
}

.activity-container{
    background-color: #fff;
    text-align: right;
    padding: 4PX;
}

.activity-container button{
    margin-right: 40px;
}

.activity-container button i{
    margin-right: 10px;
}

b{
    font-size: 15px;
}


code,
h3{
    color: var(--background-color-secondary) !important;
    font-weight: bold;
}
