<!-- <ng-template> -->

  <div class="card mb-3 profile" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="assets/img/profile-image.jpg" class="img-fluid rounded-start profile-pic" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-title"> {{ currentAttendant.names }}</p>
          <p class="card-title">Phone: {{ currentAttendant.phone }}</p>
          <p class="card-title">Address: {{ currentAttendant.address }}</p>
          <p class="card-title">Gender: {{ currentAttendant.gender }}</p>
          <p class="card-title">Date: {{ currentAttendant.dateRegistered }}</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>

    </div>
  </div>

