.form-margin{
   margin: 10px 0px;
}

.form-title{
    margin: 20px 0px;
}

.card-float{
    float: left;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  div.newClothBtn{
    text-align: right;
  }

  div.newClothBtn button{
    border: 4px solid #c2bfbf;
  }