<form class="row g-3">

  <div class="container">
    <div class="row">

      <div class="col-6">
        <div class="card w-auto" >
          
          <div class="card-body">
      
            
            <h4 class="form-title">Fill Customer Info</h4>

            <div class="input-group form-margin">
              <span class="input-group-text">Names</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>

            <div class="input-group form-margin">
              <span class="input-group-text">Phone</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>

            <div class="input-group form-margin">
              <span class="input-group-text">Date</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>

            <div class="input-group form-margin">
              <span class="input-group-text">Address</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>

            <div class="col-md-5 form-margin">
              <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Gender</option>
                <option>...</option>
              </select>
            </div>
            
          </div>
        </div>
      </div>

   

      <div class="col-6">
        <div class="card w-auto" >
          
          <div class="card-body">
      
            
            <h4 class="form-title">Fill Cloths Info</h4>

            <div class="input-group form-margin">
              <span class="input-group-text">Cloth Name</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>

            <div class="input-group form-margin">
              <span class="input-group-text">Colour</span>
              <input type="text" aria-label="First name" class="form-control">
            </div>

            <div class="col-md-5 form-margin">
              <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Type Of Service</option>
                <option>...</option>
              </select>
            </div>
            
            <div class="col-md-5 form-margin">
              <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Cloth Category</option>
                <option>...</option>
              </select>
            </div>

            <div class="col-md-5 form-margin">
              <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">PickUp Date</option>
                <option>...</option>
              </select>
            </div>

            <div class="col-md-5 form-margin">
              <select class="form-select" id="validationDefault04" required>
                <option selected disabled value="">Delevery Status</option>
                <option>...</option>
              </select>
            </div>


          </div>
        </div>
      </div>



    </div>

  </div>



  <div class="col-6">
    <div class="card w-auto" >
      
      <div class="card-body">
  
        
        <h4 class="form-title">Make Payments</h4>

        <div class="col-md-4 form-margin">
          <label for="validationDefaultUsername" class="form-label">Date</label>
          <div class="input-group">
            
            <input type="date" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
          </div>
        </div>

        <div class="input-group form-margin">
          <span class="input-group-text">Amount Paid</span>
          <input type="text" aria-label="First name" class="form-control">
        </div>

        <div class="input-group form-margin">
          <span class="input-group-text">Date</span>
          <input type="text" aria-label="First name" class="form-control">
        </div>

        <div class="input-group form-margin">
          <span class="input-group-text">Balance of Payment</span>
          <input type="text" aria-label="First name" class="form-control">
        </div>

        <div class="input-group form-margin">
          <span class="input-group-text">Total to be paid</span>
          <input type="text" aria-label="First name" class="form-control">
        </div>


        <div class="col-md-5 form-margin">
          <select class="form-select" id="validationDefault04" required>
            <option selected disabled value="">Is Owing</option>
            <option>...</option>
          </select>
        </div>
        
      </div>
    </div>
  </div>


    <div class="col-12">
      <button class="btn site-background-color site-secondary-color" (click)="createNewCustomer()">Save</button>
    </div>
  </form>