
 <form class="row g-3" [formGroup]="newCustomerForm">

<mat-stepper linear #stepper>

  <mat-step >

    <div >
      <ng-template matStepLabel>Fill Customer Infomation</ng-template>

     

        <div class="container">
          <div class="row">
      
            <div class="col-8">
              
                
                <div class="card-body row g-3">
                  
                  <!-- test -->
                  <div class="col-md-6">
                    <label for="validationServer01" class="form-label">Names</label>
                    <input type="text" class="form-control"  
                      [class.is-invalid]="setValidationFor('names')" 
                      id="validationServer01" value="Mark" formControlName="names">
      
                     <div *ngIf="setValidationFor('names')">
                      <div *ngIf="names?.errors?.['required']" style="color: red;">
                        Please provide customer names.
                      </div>
                     </div>
      
                  </div>
      
                  <div class="col-md-6">
                    <label for="validationServer02" class="form-label">Phone</label>
                    <input type="text" [class.is-invalid]="setValidationFor('phone')" 
                     class="form-control" 
                     id="validationServer02" formControlName="phone">
      
                    <div *ngIf="setValidationFor('phone')">
                      <div *ngIf="phone?.errors?.['required']" style="color: red;">
                        Please provide a valid phone number.
                      </div>
                     </div>
      
                  </div>
      
                  <div class="col-md-6">
                    <label for="validationServerUsername" class="form-label">Address</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend3">@</span>
                      <input type="text" [class.is-invalid]="setValidationFor('address')" 
                       class="form-control" id="validationServerUsername" 
                       aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" formControlName="address">
      
                       <div *ngIf="setValidationFor('address')">
                        <div *ngIf="address?.errors?.['required']" style="color: red;">
                          Please provide an address for this customer.
                        </div>
                       </div>
      
                    </div>
                  </div>
      
                  <div class="col-md-6">
                    <label for="validationServer03" class="form-label">Registered Date</label>
                    <input type="button" class="form-control"
                     id="validationServer03" aria-describedby="validationServer03Feedback" formControlName="registeredDate">
                  </div>
      
                  <div class="col-md-4">
                    <label for="validationServer04" class="form-label">gender</label>
                    <select class="form-select"  [class.is-invalid]="setValidationFor('gender')" 
                    id="validationServer04" aria-describedby="validationServer04Feedback" formControlName="gender">
                      <option selected disabled value="">Choose...</option>
                      <option>Male</option>
                      <option>Female</option>
                    </select>
      
                    <div *ngIf="setValidationFor('gender')">
                      <div *ngIf="gender?.errors?.['required']" style="color: red;" >
                        Please select a valid gender.
                      </div>
                     </div>
                  </div>
              
                
                  <!-- test -->
                  <div class="newClothBtn">
                    <button class="btn btn-secondary" (click)="handleNewCloths()">
                       {{ getClothsLength ? "Add more cloths" : "New cloth" }}
                      </button>
                  </div>
      
                </div>
            
            </div>
      
      
      <!-- fill Cloth -->
             <div class="col-8 "> 
      
              <div formArrayName="cloths" *ngFor="let cloths of cloths.controls; let i = index">
                  
                  <div [formGroupName]="i" class="card-body row g-3">
                    <button title="click to delete this cloth"
                     class="btn btn-danger btn-sm fit-content-width"
                     (click)=" removeCloth(i)" *ngIf="i >= 1">
                     <i class="fa fa-times"></i>
                    </button>
                    
                    <h4 class="form-title">Fill in Cloth: {{ i+1 }} Infomation</h4>
      
                    <div class="col-md-6">
                      <label for="validationServer02" class="form-label">Cloth Name</label>
                      <input type="text" 
                       class="form-control" 
                       id="validationServer02" value="Otto" formControlName="clothName">
        
                      <div *ngIf="setValidationFor('phone')">
                        <div *ngIf="phone?.errors?.['required']" style="color: red;">
                          Please provide a valid name for this cloth or dress.
                        </div>
                       </div>
                    </div>
      
                    
                    <div class="col-md-6">
                      <label for="validationServer02" class="form-label">Colour</label>
                      <input type="text" 
                       class="form-control" 
                       id="validationServer02" value="Otto" formControlName="clothColor">
        
                      <div *ngIf="setValidationFor('phone')">
                        <div *ngIf="phone?.errors?.['required']" style="color: red;">
                          Please provide a valid colour for this cloth or dress.
                        </div>
                       </div>
                    </div>
            
                    <div class="col-md-4">
                      <label for="validationServer04" class="form-label">ClothCategory</label>
                      <select class="form-select" 
                      id="validationServer04" aria-describedby="validationServer04Feedback" formControlName="clothCategory">
                        <option selected disabled value="">Choose...</option>
                        <option>Shirt</option>
                        <option>Trouser</option>
                        <option>Other</option>
                      </select>
        
                      <div *ngIf="setValidationFor('gender')">
                        <div *ngIf="gender?.errors?.['required']" style="color: red;" >
                          Please select a valid category.
                        </div>
                       </div>
                    </div>
      
      
                    <div class="col-md-4">
                      <label for="validationServer04" class="form-label">ServiceType</label>
                      <select class="form-select" 
                      id="validationServer04" aria-describedby="validationServer04Feedback" formControlName="serviceType">
                        <option selected disabled value="">Choose...</option>
                        <option>Regular</option>
                        <option>Express</option>
                      </select>
        
                      <div *ngIf="setValidationFor('gender')">
                        <div *ngIf="gender?.errors?.['required']" style="color: red;" >
                          Please select a valid serviceType.
                        </div>
                       </div>
                    </div>
      
      
                    <div class="col-md-6">
                      <label for="validationServer03" class="form-label">PickUp Date</label>
                      <input type="date" class="form-control"
                       id="validationServer03" aria-describedby="validationServer03Feedback" formControlName="pickUpDate">
                    </div>
                    
                    <div class="col-md-6">
                      <label for="validationServer02" class="form-label">Cost</label>
                      <input type="text" 
                       class="form-control" 
                       id="validationServer02" placeholder="$ 0.00" formControlName="cost" >
        

                      <div *ngIf="setValidationFor('gender')">
                        <div *ngIf="gender?.errors?.['required']" style="color: red;">
                          Please provide a valid cost for this cloth should be a number.
                        </div>
                       </div>
                    </div>
                    
                    <div class="mb-3">
                      <label for="validationTextarea" class="form-label">Description</label>
                      <textarea class="form-control" id="validationTextarea"
                       placeholder="describe what to do with this cloth eg washing and ironing... starhing etc ." formControlName="description"></textarea>
                      <div class="invalid-feedback">
                        Please enter a short description about this cloth in the textarea.
                      </div>
                    </div>

      
                  </div>

                  

              </div>  
             </div>
            <!-- fill Cloth -->
          
            <div>
              <button [disabled]="isCostValid" (click)="proceed()"
              class="btn site-background-color site-secondary-color"
               mat-button matStepperNext>Proceed <i class="fa fa-arrow-circle-right" ></i></button>


               <button
               class="btn btn-danger btn-sm fit-content-width" (click)="cancelForm()">
               <i class="fa fa-times-circle-o"> Cancel</i>
              </button>
              
            </div>
      
          </div>
      
        </div>
      

    </div>


  </mat-step>


  <mat-step>

    <div>
      <ng-template matStepLabel>Fill out cloth(s) payment</ng-template>

  
      <div *ngIf="isShowPaymentSection">
        <app-new-payment  [payments]="costPayments" (payment)="recievedPayment($event)"></app-new-payment>
      </div>
      
      <div>
        
        <div class="col-12" style="padding: 20px;">
          <button [disabled]="!isPaymentValid" style="margin: 0px 10% 0px 35%;" (click)="onSubmit()"
          type="button" class="btn site-background-color site-secondary-color" mat-button matStepperNext>Accept</button>
          <button (click)="goBackToCustomerForm()" class="btn btn-secondary" mat-button matStepperPrevious> <i class="fa fa-arrow-circle-left"></i>  Back</button>
        </div>

      </div>
    </div>


  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>

    <div class="card text-center">
      <div class="card-header">
        Success!!
      </div>
      <div class="card-body">
        <img src="assets/img/confirm-payment.png" class="img-fluid rounded-start profile-pic" alt="...">
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>

    <div style="text-align: center; margin-top: 10px;">
      <button type="button" class="btn btn-success" (click)="done()">Done</button>
    </div>
  </mat-step>
</mat-stepper>


</form>

















 

