/* You can add global styles to this file, and also import other style files */
:root{
    --color-navy: #093545;
    --color-green: #20df7f;
    --color-white: #e5e5e5;
    --color-red: #aa0909;
}

html, body {
    height: 100%;
}

body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

input{
   background-color: var(--color-navy) !important;
   color: var(--color-white) !important;
   font-weight: bold;
 }

.site-color-navy{
    background-color: var(--color-navy) !important;
    color: var(--color-white) !important;
}

.site-color-green{
    background-color: var(--color-green)
}

.site-color-white{
    background-color: var(--color-white) !important;
}

.text-danger{
    color: var(--color-red);
}

.container-margin{
    margin: 10px;
}

.imput-height{
    height: 60px;
}

.input-margin{
    margin: 10px auto;
}

.current a{
    background-color: var(--color-green);
    color: var(--color-green);
}


.site-primary-button1{
    width: 8rem;
    height: fit-content;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 120%;
    border: none;
    color: var(--color-white);
    background-color: var(--color-green);

}

.site-primary-button1:hover{
    background-color: var(--color-navy)
}

.site-primary-button2{
    width: 8rem;
    height: fit-content;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 110%;
    border: none;
    box-sizing: border-box;
    background-color: var(--color-green);
    color: var(--color-white);
}

.site-primary-button2:hover{
    color: var(--color-navy);
    background-color: var(--color-white);
    border: none;
    box-sizing: border-box;
}

.site-primary-button2:disabled{
    background-color: var(--color-green);
    opacity: .3;
  }
  
  .site-primary-button2:disabled:hover{
   background-color: var(--color-green);
   color: var(--color-white);
  }
  
  .site-danger-button{
    width: 8rem;
    height: fit-content;
    text-align: center;
    padding: 8px;
    margin-left: 7px;
    font-weight: bold;
    font-size: 110%;
    border: none;
    box-sizing: border-box;
    background-color: var(--color-red);
    color: var(--color-white);
}

  /* forms validation  */
  .invalid-input{
    color: rgb(194, 27, 27);
    margin: 7px 0px 0px 0px;
}

.bottom-spacer{
    margin-bottom: 24px;
}

.left-spacer{
    margin-left: 4px;
}