/* You can add global styles to this file, and also import other style files */
:root{
    --background-color-primary: rgb(14, 14, 133);
    --background-color-secondary: rgb(119, 213, 220);
    --background-color-green: rgb(42, 145, 97);
}

.site-background-color{
    background-color: var(--background-color-primary)
}

.site-background-color2{
    background-color: var(--background-color-secondary)
}

.site-background-green{
    background-color: var(--background-color-green) !important;
}


.site-primary-color{
    color: rgb(14, 14, 133);
}

.site-secondary-color{
    color: #fff;
}

.text-danger{
    color: red;
}

.container-margin{
    margin: 10px;
}

.imput-height{
    height: 60px;
}

.input-margin{
    margin: 10px auto;
}

.current a{
    background-color: var(--background-color-secondary);
    color: var(--background-color-secondary);
}
html, body {
     height: 100%;
 }

body {
     margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.site-primary-Button1{
    width: 8rem;
    height: fit-content;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 120%;
    border: none;
    color: #f0eaea;
    background-color: var(--background-color-green);

}

.site-primary-Button1:hover{
    background-color: rgb(48, 95, 73);
}

.site-primary-Button2{
    width: 8rem;
    height: fit-content;
    text-align: center;
    padding: 8px;
    font-weight: bold;
    font-size: 110%;
    border: none;
    background-color: #f0eaea;
    color: var(--background-color-green);

}

.site-primary-Button2:hover{
    color: rgb(30, 56, 44);
    background-color: var(--background-color-secondary)
}

.site-primary-Button2:disabled{
    background-color: #f0eaea;
    opacity: .5;
  }
  
  .site-primary-Button2:disabled:hover{
   background-color: #f0eaea;
   color: rgb(42, 145, 97);
  }
  
  /* forms validation  */
  .invalid-input{
    color: rgb(194, 27, 27);
    margin: 7px 0px 0px 0px;
}