/* You can add global styles to this file, and also import other style files */
:root{
    --background-color-primary: rgb(14, 14, 133);
    --background-color-secondary: rgb(119, 213, 220);
}

.site-background-color{
    background-color: var(--background-color-primary)
}

.site-background-color2{
    background-color: var(--background-color-secondary)
}

.site-primary-color{
    color: rgb(14, 14, 133);
}

.site-secondary-color{
    color: #fff;
}


.container-margin{
    margin: 10px;
}

.imput-height{
    height: 60px;
}

.input-margin{
    margin: 10px auto;
}

.current a{
    background-color: var(--background-color-secondary);
    color: var(--background-color-secondary);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
