<div class="row">
  <div class="col">
           
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Customers</div>
        <div class="card-body">
          <h2 class="card-title">12</h2>
          <p class="card-text">Since Last Month</p>
        </div>
      </div>

</div>
<div class="col">
  
    <div class="card text-white bg-secondary  mb-3" style="max-width: 18rem;">
        <div class="card-header">Cloths</div>
        <div class="card-body">
          <h2 class="card-title">200</h2>
          <p class="card-text">Since last Month</p>
        </div>
      </div>

</div>
<div class="col">
    
    <div class="card text-white bg-success  mb-3" style="max-width: 18rem;">
        <div class="card-header">Attendants</div>
        <div class="card-body">
          <h2 class="card-title">10</h2>
          <p class="card-text">Since last Month</p>
        </div>
      </div>


     </div>
     <div class="col">
        <div class="card text-white bg-danger  mb-3" style="max-width: 18rem;">
            <div class="card-header">Admin</div>
            <div class="card-body">
              <h2 class="card-title">2</h2>
              <p class="card-text">Since last Month</p>
            </div>
          </div>
     </div>

</div>