
<div *ngIf="isLoading; else statusCardsComponent">
    <div class="text-center">
        <div class="spinner-grow text-info" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
    </div>
</div>

<ng-template #statusCardsComponent>
    <div class="row clothsInprogress">
        <div class="timeContainer">
            <app-time style="display: inline-block;"></app-time> 
        </div>
    
        <div class="timeContainer">
            <marquee width="100%" behavior="alternate"> 
               Only <span style="color: red;">{{ completedCloths.completed }}</span> of {{ completedCloths.cloths }} cloths have been completed !!
            </marquee>
        </div>      
    </div>  

    <div class="row">
        <div class="col" *ngFor="let statusCard of statusCards">
            
            <div class="card text-white mb-3 site-background-color card-property">
                <div class="card-header">{{ statusCard.header }}</div>
                <div class="card-body">
               <h2 class="card-title" style="font-size: 160%; font-weight: bolder;"> {{ statusCard.value }} </h2>
               <p class="card-text"></p>
            </div>
        </div>
        
    </div>
</div>

</ng-template>