.time{
    text-align: right;
    font: 20px arial;
    font-weight: bold;
    
}

.card-property{
  max-width: 18rem;
 text-align: center;
 font-weight: bold;
 color: var(--color-green) !important;
 background-color: var(--color-navy) !important;
}

.clothsInprogress{
  font-weight: bold;
  font-size: 17px;
}

.timeContainer{
  float: left;
  width: 50%;
  height: fit-content;
}