<div class="row">
<app-time></app-time>

  <div class="col">
           
    <div class="card text-white mb-3 site-background-color" style="max-width: 18rem;">
        <div class="card-header">Customers</div>
        <div class="card-body">
          <h2 class="card-title"> {{ customerCount }} </h2>
          <p class="card-text">Since Last Month</p>
        </div>
      </div>

</div>
<div class="col">
  
    <div class="card text-white mb-3 site-background-color" style="max-width: 18rem;">
        <div class="card-header">Total Cloths</div>
        <div class="card-body">
          <h2 class="card-title">200</h2>
          <p class="card-text">Since last Month</p>
        </div>
      </div>

</div>
<div class="col">
    
    <div class="card text-white mb-3 site-background-color" style="max-width: 18rem;">
        <div class="card-header">In Progress</div>
        <div class="card-body">
          <h2 class="card-title">4/10</h2>
          <p class="card-text">Since last Month</p>
        </div>
      </div>


     </div>
     <div class="col">
        <div class="card text-white mb-3 site-background-color" style="max-width: 18rem;">
            <div class="card-header">Total Sales</div>
            <div class="card-body">
              <h2 class="card-title">$530</h2>
              <p class="card-text">Since last Month</p>
            </div>
          </div>
     </div>

</div>